<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>HomeSec</title>
    <style>
        a {
            color: black;
            text-decoration: none;
        }
        .item-bought {
	        text-decoration: line-through;
            -webkit-text-fill-color: darkgray;
            color: darkgrey;
        }
    </style>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<nav class="nav blue-grey darken-4">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{% url 'users:logout' %}">Sign out</a>
        </div>
    </div>
</nav>
<div class="container">
	<div class="row"></div>
    {% if messages %}
    <div class="container">

        {% for message in messages %}
                <div class="card-panel green lighten-3">
                {{message}}
                </div>
        {% endfor %}

    </div>
    {% endif %}